language: ruby
rvm:
  - 2.1.1
env:
  - DB=sqlite
bundler_args: "--without development"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - RAILS_ENV=test bundle exec rake db:create db:migrate db:test:prepare
  - RAILS_ENV=test bundle exec rake spec
